---
import Layout from '../../../layouts/Layout.astro';
import EdgeFunctionExplainer from '../../../components/EdgeFunctionExplainer.astro';
---

<Layout title="In Australia">
    <h1 class="mb-10">You are in Australia!</h1>
    <EdgeFunctionExplainer />
</Layout>
