---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blobs">
      <h1 class="mb-8">Blobs x Blobs</h1>
      <p class="text-lg">Get started with Astro.js and Netlify in seconds.</p>
</Layout>
