---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blobs">
  <main class="flex flex-col gap-8 sm:gap-16">
    <section class="flex flex-col items-start gap-3 sm:gap-4">
      <h1>Blobs x Blobs</h1>
      <p class="text-lg">Get started with Astro.js and Netlify in seconds.</p>
    </section>
  </main>
</Layout>
