---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const page = await getEntry('page', 'image-cdn');
const { Content } = await page.render();

const { title } = page.data;
---

<Layout title={title}>
  <h1>{title}</h1>
  <div class="prose">
    {page.data.subheading && <p>{page.data.subheading}</p>}
    <Content />
  </div>
</Layout>

<!-- <script>
    const images = document.querySelectorAll<HTMLImageElement>('.diff img');

    images.forEach((image) => {
        if (image.complete) {
            showImageSize(image);
        } else {
            image.addEventListener('load', () => {
                showImageSize(image);
            });
        }
    });

    function showImageSize(image: HTMLImageElement) {
        const imageEntry = window?.performance?.getEntriesByName(image.currentSrc)?.[0] as PerformanceResourceTiming;
        if (imageEntry && imageEntry.encodedBodySize) {
            const imageOverlay = image.previousElementSibling;
            imageOverlay.classList.remove('hidden');
            imageOverlay.textContent = `Size: ${Math.ceil(imageEntry.encodedBodySize / 1024)}KB`;
        }
    }
</script> -->
