---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
    <h1 class="mb-8">Netlify Platform Starter - Astro.js</h1>
    <p class="mb-6 text-lg">Get started with Astro.js and Netlify in seconds.</p>
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p>
    <Card title="Random Title" text="Long random text about Astro.js. Get started with Astro.js and Netlify in seconds." />
</Layout>
