---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
AR-STEMLabs are a one-stop platform for all your STEM learning activities.

Welcome to AR-STEMLabs, where innovation meets education! At AR-STEMLab, we are dedicated to transforming the way students and educators engage with Science, Technology, Engineering, and Mathematics (STEM). By integrating cutting-edge Augmented Reality (AR) and immersive learning technologies, we create dynamic, hands-on experiences that bring STEM concepts to life.

Our Mission
Our mission is simple yet profound: to inspire and empower learners of all ages by providing them with the tools and knowledge to excel in the 21st century. We aim to bridge the gap between theoretical learning and practical application, ensuring that every student has access to a world-class STEM education.

What We Offer
Immersive Learning Experiences: Our products combine hands-on projects with AR technology, enabling students to visualize complex concepts, conduct experiments, and solve real-world problems in an engaging and interactive way.
Standards-Aligned Curriculum: All our learning materials are designed to meet educational standards, ensuring relevance and quality in every lesson.
Teacher-Centered Support: We prioritize educators by providing user-friendly tools, training resources, and ongoing support to enhance classroom instruction.
Community Commitment: Beyond schools, we are dedicated to supporting underprivileged communities, military families, and those with limited access to STEM resources.

Why Choose AR-STEMLab?
At AR-STEMLab, we believe in the power of experiential learning. By leveraging AR technology, we foster creativity, critical thinking, collaboration, and problem-solving skills—essential competencies for future innovators. Whether you're a student exploring new horizons or a teacher seeking innovative ways to engage your class, AR-STEMLab is your partner in educational excellence.

`;
---

<Layout title="Welcome to AR-STEMLabs.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Netlify Platform Starter for Astro</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Read the Docs</a>
    </p>
</Layout>
