---
import { cacheHeaders, randomInt } from '../utils';
import Layout from '@/layouts/Layout.astro';
import { getEntry } from 'astro:content';

export const prerender = false;

const page = await getEntry('page', 'revalidation');
const { Content } = await page.render();

const { title } = page.data;

const tags = ['/revalidation', 'all-ssr-pages'];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
  Astro.response.headers.set(k, v);
});

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title={title}>
  <span class="mb-5 text-sm uppercase tracking-wide font-bold flex gap-1 items-center">
    <span>Page created:</span>
    <code class="font-normal">{new Date().toUTCString()}</code>
  </span>
  <h1 class="mb-10">{title}</h1>
  <div class="prose">
    {page.data.subheading && <p>{page.data.subheading}</p>}

    <div>
      <h2>Revalidation</h2>
      <p>
        Use the button below to invalidate a random tag out of this page's tags, then refresh the
        page.
      </p>
      <div class="flex gap-4">
        <button class="revalidate-button btn btn-primary" data-tag="all-ssr-pages">
          Invalidate tag: all-ssr-pages
        </button>
        <button class="btn btn-primary" onclick="location.reload()">Reload page</button>
      </div>
    </div>

    <Content />
  </div>
</Layout>

<script>
  function revalidate(tag: string) {
    fetch('/api/revalidate', {
      method: 'POST',
      body: JSON.stringify({ tags: [tag] }),
      headers: {
        'Content-Type': 'application/json',
      },
    });
    alert(`Invalidated tag: ${tag}`);
  }

  const revalidateButton = document.querySelectorAll('button.revalidate-button')[0];
  revalidateButton.addEventListener('click', (e) => {
    const tag = (e.target as HTMLButtonElement).getAttribute('data-tag');
    if (!tag) {
      alert('No tag found');
      return;
    }
    revalidate(tag);
  });
</script>
