---
interface Props {
  href: string;
  size?: 'sm' | 'lg';
}

const { href, size = 'sm' } = Astro.props;

const sizeClasses = {
  sm: 'px-4 py-2',
  lg: 'px-8 py-4',
};
---

<a
  href={href}
  class={`bg-teal-200 text-blue-900 font-bold rounded-md inline-block ${sizeClasses[size]} transition-colors hover:bg-teal-100 duration-300`}
>
  <slot />
</a>
