---
import { type FeaturedItems } from '../types';
import FeaturedItem from './FeaturedItem.astro';
import Markdown from './Markdown.astro';
import Section from './Section.astro';

interface Props extends FeaturedItems {
    'data-sb-field-path'?: string;
}

const { heading, body, items, ...rest } = Astro.props;
---

<Section {...rest}>
    {
        heading && (
            <h2 class="text-3xl font-bold text-center sm:text-4xl" data-sb-field-path=".heading">
                {heading}
            </h2>
        )
    }
    {body && <Markdown content={body} class:list={['text-center', heading && 'mt-2', 'sm:text-lg']} data-sb-field-path=".body" />}
    {
        items?.length > 0 && (
            <div class:list={['grid gap-6', (heading || body) && 'mt-12', 'md:grid-cols-3 lg:gap-12']}>
                {items.map((item, idx) => (
                    <FeaturedItem {...item} background={Astro.props.background} data-sb-field-path={`.items.${idx}`} />
                ))}
            </div>
        )
    }
</Section>
