---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
  <p class="text-sm">
    <a
      href="https://docs.netlify.com/frameworks/astro/"
      class="underline transition decoration-dashed text-primary underline-offset-8 hover:opacity-80"
    >
      Astro.js on Netlify
    </a>
  </p>
</footer>
