---
import { Icon } from 'astro-icon/components';

const navItems = [
  { linkText: 'Home', href: '/' },
  { linkText: 'Revalidation', href: '/revalidation' },
  { linkText: 'Image CDN', href: '/image-cdn' },
  { linkText: 'Edge Functions', href: '/edge-functions' },
  { linkText: 'Blobs', href: '/blobs' },
];
---

<header class="bg-neutral-dark-800 py-8 mb-20">
  <div class="flex items-center justify-between max-w-screen-lg mx-auto">
    <a href="https://www.netlify.com/compose/" class="flex items-center justify-center gap-3">
      <Icon name="compose-mark" class="block w-8" />
      <span class="text-sm font-semibold">Netlify Compose</span>
      <span class="text-sm uppercase text-teal-400 font-bold">San Francisco</span>
    </a>

    <nav class="flex items-center justify-between gap-6">
      {
        navItems.map((item) => (
          <a href={item.href} class="block text-sm font-bold uppercase">
            {item.linkText}
          </a>
        ))
      }
    </nav>
  </div>
</header>
