---

---

<>
    <h2 class="mb-4 text-xl text-center sm:text-xl">New Random Shape</h2>
    <div class="w-full bg-white rounded-lg mb-6">
        <div class="min-h-16 p-4 border-b border-neutral-200 text-neutral-900 text-center"><span id="blob-title"></span></div>
        <div class="p-4 aspect-square text-primary">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="100%"><path id="blob" d="" fill="currentColor"></path></svg>
        </div>
    </div>
    <div class="flex flex-wrap justify-center gap-4">
        <button id="randomize-blob" class="btn btn-primary">Randomize</button>
        <button id="upload-blob" class="btn btn-primary">Upload</button>
    </div>
</>

<script>
    import blobshape from 'blobshape';
    import { uniqueNamesGenerator, adjectives, animals } from 'unique-names-generator';
    const blobRandomizeBtn = document.getElementById('randomize-blob');
    const blobUploadBtn = document.getElementById('upload-blob');
    let blob;

    renderBlob();

    blobRandomizeBtn?.addEventListener('click', () => {
        renderBlob();
    });

    blobUploadBtn?.addEventListener('click', () => {});

    function renderBlob() {
        const blobPath = document.getElementById('blob');
        const blobTitle = document.getElementById('blob-title');
        blob = generateBlob();

        if (blobTitle) blobTitle.textContent = blob.parameters.name;
        blobPath?.setAttribute('d', blob.svgPath);
    }

    function generateBlob(parameters?: any) {
        parameters = {
            seed: null,
            size: 512,
            edges: randomInt(3, 20),
            growth: randomInt(2, 9),
            name: uniqueName(),
            ...parameters
        };
        const { path: svgPath, seedValue: seed } = blobshape(parameters);
        return { parameters: { ...parameters, seed }, svgPath };
    }

    function randomInt(min: number, max: number) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function uniqueName() {
        const config = {
            dictionaries: [adjectives, animals],
            separator: '-',
            length: 2
        };
        return uniqueNamesGenerator(config) + '-' + randomInt(100, 999);
    }
</script>
