---
import '../../src/styles/globals.css';
import Header from "../components/Header.astro"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="antialiased text-white bg-blue-900">
		<div class="flex flex-col min-h-screen px-6 bg-grid-pattern sm:px-12">
			<div class="flex flex-col w-full max-w-5xl mx-auto grow">
				<Header />
				<slot />
			</div>
		</div>
	</body>
</html>